.price-chart table th:first-child {
    background-color: var(--background-color);
}
.price-chart table {
    text-align: center;
}

@media (max-width: 563px) {
    .price-chart {
        width: 100%;
        overflow-x: auto;
    }
}